[2017-10-15 15:15] blling opened #3 "ErrorBoundaryFallbackComponent is unnecessary"
Users will not use the `ErrorBoundaryFallbackComponent` most of the time, so we can remove it from core lib and put it in a separeted showcase ?

[2017-10-16 02:12] hally9k opened #4 "Expose a decorator function for Redux containers."
I propose exposing an additional function that returns the given component wrapped with the error boundary component. Much like `connect()` from the `react-redux` api.

When exposing the class alone, it lends it's self to wrapping a component in JSX which isn't a good fit in some scenarios. For example if a Redux container is referenced in a React Router route as a component reference there is no

[2017-10-17 00:43] guilhermebruzzi opened #5 "Unnecessary dependencies on package.json when installing"
Even thought most of these dependencies were on my devDependencies, yarn add it to yarn.lock and node_modules:

[code]

I believe most of those dependencies should be a devDependency and prop-types is not a dependency, since you use flow

[2017-10-17 01:10] guilhermebruzzi commented on #5
But I just realized that to remove these as a dependency, than you should generate a compiled version (without Flow), right?

[2017-10-19 02:11] hally9k opened #7 "0% test coverage 🎉."
Would a PR with some tests be a goer?
Testing framework preferences?
🃏 or ☕ ?

[2017-10-20 00:37] bvaughn commented on #7
Yup! Preference for Jest :smile:

[2017-10-20 00:46] bvaughn commented on #3
That component can be dead-code eliminated from any production app that uses this library _without_ using it, so I don't see the harm in leaving it? It's also tiny. 😄

[2017-10-20 00:48] bvaughn commented on #5
Whoops! I probably just forked another OSS project I had to create this one and wasn't careful about cleaning up dependencies. That or I forgot the `--dev` flag when `yarn add`ing some.

Either way, sorry. I'll tidy up before the next release.

[2017-10-20 01:03] bvaughn commented on #5
Should be fixed in 1.1.0!

[2017-10-20 01:03] #5 closed

[2017-10-20 01:03] bvaughn commented on #4
Just released via 1.1.0

Thanks!

[2017-10-20 01:03] #4 closed

[2017-10-20 01:04] bvaughn commented on #3
I think I'm going to leave it in for my own convenience (one less project to maintain and sync) and b'c I don't think it's much of a problem, given my previous comment ^

Thanks for raising this issue though!

[2017-10-20 01:04] #3 closed

[2017-10-20 01:17] guilhermebruzzi commented on #5
@bvaughn Nice! :D I've copied the component code without Flow (using prop-types instead) to my project, so no extra dependencies were needed, it's small actually:
[code]

[2017-10-20 01:47] hally9k opened #8 "Document the decorator function in the readme."
☝️

[2017-10-20 01:49] guilhermebruzzi commented on #5
@bvaughn oh but you should definitely do it anyway, not all people use Flow. Thanks for the great work, this React 16 componentDidCatch feature that this component help to use its very Nice! :D

[2017-10-28 17:13] blling commented on #4
If i want to `dispatch` an action in `ErrorHandler`, how to get the redux `dispatch`?  I use `this` as follows but the `this.props` is undefined.
[code]

[2017-10-28 19:07] bvaughn commented on #4
I think there might be some confusion about how [arrow function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions) work. They specifically preserve the lexical `this` when and where They are declared, rather than when they're invoked. For example:

[code]

Regardless of the type of method you pass in though, [the `onError` callback is invoked as a standal

[2017-10-28 19:09] #8 closed

[2017-10-28 19:14] bvaughn commented on #7
I don't plan to take any action on this issue, so I'm closing it. A PR would be welcome if you'd like to add some tests though. Cheers~

[2017-10-28 19:14] #7 closed

[2017-10-28 19:16] bvaughn commented on #4
Just published 1.2.0 with support for `this` but you'll need to switch away from arrow function to a regular function if you want to use it.

[2017-10-28 19:26] blling commented on #4
Wow, so fast, i will try it tomorrow, thanks very much @bvaughn !
If i do not use `this`  is there another good practice?

[2017-10-28 19:32] bvaughn commented on #4
You are welcome.

I haven't used Redux in a long time. I'm not sure what the best way to approach this is to be honest.

[2017-10-28 19:38] blling commented on #4
Get it, thanks for your great work again. ^_^

[2018-05-10 19:11] garycourt opened #13 "Module react has no default export"
This line is throwing the Typescript error:

```Module '"node_modules/@types/react/index"' has no default export.```

https://github.com/bvaughn/react-error-boundary/blob/7208cb40fb113afa0c3ed3de4050e2c8d9e4b3a6/index.d.ts#L1

It should be written as:

```import * as React from 'react';```

[2018-05-13 02:10] #13 closed

[2018-05-15 09:17] graingert opened #15 "a friendlier default error component"
react-error-overlay gives all sorts of nice details about the error.

A big red unhappy face lowers moral!

[2018-05-15 13:59] bvaughn commented on #15
react-error-overlay runs within the larger context of create-react-app, and has more info to show in its (DEV mode only) overlay than this component would. All this component has is the information passed to `componentDidCatch` (an error message and a component stack).

If you'd like to put together a PR that shows this information in a better way, please feel free. I didn't assume anyone would us

[2018-07-06 11:34] smurf667 opened #17 "License?"
Hello, I cannot find a LICENSE file in the repository. npm says this has MIT license. Could you explicitly add a LICENSE file? Thanks!

[2018-07-06 13:31] bvaughn commented on #17
Not on a computer at the moment, but if you'll post a PR to add MIT
liscense I'll accept

On Fri, Jul 6, 2018, 4:34 AM Jan Engehausen <notifications@github.com>
wrote:

[2018-07-06 14:58] #17 closed

[2018-09-17 09:41] graingert commented on #15
I used the default because it was the minimal amount of effort to get something working!

[2018-09-28 03:50] dance2die opened #23 "Feature Request: Provide a way to clear the error"
# What?
Would you provide a way to clear the error in [ErrorBoundary](https://github.com/bvaughn/react-error-boundary/blob/master/src/ErrorBoundary.js) component to clear the `FallbackComponent` ?

# Suggestion

If [error](https://github.com/bvaughn/react-error-boundary/blob/master/src/ErrorBoundary.js#L29) state can be set via prop, one should be able to clear it depending on outter component's s

[2018-09-28 03:52] dance2die commented on #23
added `suggestion`

[2018-09-28 15:20] bvaughn commented on #23
This is not a safe thing to do by the way 😄
[code]
React sets/resets `instance.error` while rendering and manually updating state is not supported because it will be erased by a future render. The only way to safely update state is with `setState`. (State is also meant to be internal to the component, not set by a parent in this way.)

The way I would recommend resetting this error boundary (if yo

[2018-09-28 15:20] #23 closed

[2018-09-28 15:40] dance2die commented on #23
Thanks Brian.
Using the `key` value certainly is a React way of handling.

I was able to get it working now without that hackity hack (`ref`) 😄
https://github.com/dance2die/bunpkg-client/blob/master/src/container/Wizard.js#L133

[2018-10-26 14:38] avdeev opened #24 "Use new static getDerivedStateFromError()"
Subj

https://reactjs.org/docs/react-component.html#static-getderivedstatefromerror

[2018-10-27 02:16] bvaughn commented on #24
This would require a backwards-breaking release. May be worth supporting at some point in the future (once updating state from `getDerivedStateFromProps` is actually deprecated, `getDerivedStateFromError` is supported by the server renderer, and v16.6+ has wider adoption) but I don't think it's high enough value to do for now. Errors are rare, and I don't think we need to worry too much optimize t

[2018-11-06 10:34] OliverJAsh opened #25 "Error type is unknown, not `Error`?"
In the types, the error is typed as `Error`. However, in JS any type can be thrown, e.g. `throw "foo";`.

Should we correct the type of the error to `unknown` (in TypeScript terms), or is there something that converts it to an `Error`?

[2018-11-06 10:43] OliverJAsh opened #26 "Provide extra props to fallback component"
I would like to pass extra props into the fallback component.

My use case:

[code]

I want my fallback component, `MyErrorComponent`, to receive the prop `onRequestClose`, in the same way I provide it to `MyLoadingComponent`.

Perhaps the fallback component should be provided as a render prop instead of as a `Component`?

[code]

[2018-11-06 15:45] bvaughn commented on #25
Yeah, seems reasonable.

[2018-11-06 15:50] OliverJAsh commented on #25
I'm not familiar with Flow so I'm not quite sure what the equivalent to TypeScript's `unknown` type is?

[2018-11-06 15:51] bvaughn commented on #26
What stops you from passing an inline function component currently?
[code]

Here's an example:
https://codesandbox.io/s/zk469wp6jp

[2018-11-06 15:51] bvaughn commented on #25
`any`

[2018-11-06 15:53] OliverJAsh commented on #26
Wouldn't that have poor performance? The fallback component reference will be changing identity with every render of `Uploader`, which would cause it to remount unnecessarily?

Render props don't have that issue as they bypass calling `React.createElement`.

[2018-11-06 16:01] bvaughn commented on #26
Creating an inline function is fast. People do that in tons of places. Rendering `ErrorBoundary` is fast too. Unless there's an error, [it just passes through `props.children`](https://github.com/bvaughn/react-error-boundary/blob/41e300b2b156339066f7318122e321cbcd12e0c9/src/ErrorBoundary.js#L62).

But if you have concerns about recreating this component, you can memoize it 😄

https://codesandbox.i

[2018-11-06 16:09] OliverJAsh commented on #26
My concern is not about creating functions, but rather about React remounting a component needlessly (because it's reference identity is changing)—unless I misunderstand.

Thanks for the memoizing example, that makes sense. Unfortunately it's awkward because every time `message` changes, we'll create a whole new component, which will lead to a remount, when it should really only lead to an update

[2018-11-06 16:09] bvaughn commented on #26
I don't _think_ your real complaint here is with render props vs React elements. I think it's with the ability to pass arbitrary custom props along.

Either way render props are called (as vanilla functions or wrapped in `createElement`) you would need a wrapper with inline scope, or a memoized approach like I linked above, to pass additional, custom props. I don't really feel strongly about _not_

[2018-11-06 16:11] bvaughn commented on #26
I think this is micro-optimizing. How expensive is this "whole new component"? It's really just a tiny function that returns a React element. It's like recreating an inline click event handler.

Why would it lead to a remount? The only thing that would remount in this case would be your error message. If that's shown, your app is in a failure state. (And also the inline message prop seems unlikely

[2018-11-06 16:14] OliverJAsh commented on #26
That was my understanding.

Re. performance, I agree! However I think the point about losing DOM state (e.g. focus) due to remounts is more worrying, as that could be bad UX/accessibility—albeit it's quite unlikely you'll have much going on inside of an error fallback component, but ideally we wouldn't have to make that assumption.

[2018-11-06 16:23] bvaughn commented on #26
Just to be clear, the children you wrap _inside_ of your error boundary- in the normal (non-errored) state– would not remount or be impacted by this. The only thing that would remount would be your fallback UI, in which case...your app is broken. It can't recover. (The `ErrorBoundary` component in this lib doesn't provide a way for you to reset its state and render non-fallback UI once it's been t

[2018-11-06 16:33] OliverJAsh commented on #26
Wouldn't the fallback component also be recreated every time `Uploader` is called? And that could happen any number of times (with each re-render of the parent), assuming `Uploader` is not memoized.

If `Uploader` was memoized (using `PureComponent` or `React.memo`), my understanding is that the fallback component would only be recreated if the props changed. In this case, that's just `onRequestCl

[2018-11-06 16:39] bvaughn commented on #26
Why would this matter? Again, this "component" is a _very small function_, not unlike a click handler. Recreating it is _fast_.

No problem. It's an interesting discussion. :)

[2018-11-06 16:48] OliverJAsh commented on #26
If the fallback component is recreated (fast so not a problem in itself), it will be remounted (fast so not a problem in itself). In turn, the remount would mean any DOM state of the fallback component will be lost (e.g. an inner `input`'s value or a `button`'s focus). This is my concern.

Initially I thought recreating + remounting components needlessly was a performance issue, but the more I've

[2018-11-06 17:07] bvaughn commented on #26
It's funny because I'm having a similar conversation in another repo with someone else this morning (bvaughn/react-window/issues/85)

In this case of this specific library, I don't feel very strongly about any particular API decision. I didn't think this component would get much use when I created it. I thought it would just be an example to reference.

If you'd like to submit a PR that changes th

[2018-11-12 03:06] chochihim commented on #26
Sorry to interrupt. I have opened an [issue](https://github.com/reactjs/reactjs.org/issues/1241) on reactjs.org to seek for clarification on the render props documentation. I was told (and convinced) that render props is a better pattern because that would not trigger re-mount when inlining (see example at [https://github.com/reactjs/reactjs.org/issues/1241#issuecomment-428440162](https://github.c

[2018-11-12 06:08] bvaughn commented on #26
This is a very nuanced topic. As I mentioned in my comment right above, I've discussed this in depth on a recent GitHub issue. Rather than repeat it all, here you go:

https://github.com/bvaughn/react-window/issues/85

[2018-12-11 13:19] osener commented on #23
@bvaughn how about passing `() => this.setState({ error: null })` callback to FallbackComponent? This would make it easy to render a <kbd>Retry</kbd> button without introducing state to the component.

[2019-03-28 23:14] vsravan707 opened #27 "<Unknown></Unknown> created withErrorBoundary with HOC"
withErrorBoundary HOC, an <Unknown></Unknown> is created.
Convention: Wrap the Display Name for Easy Debugging

[2019-03-28 23:40] bvaughn commented on #27
Submit a PR if you'd like to see this change. 😄

[2019-03-28 23:40] #27 closed

[2019-03-29 15:56] vsravan707 commented on #27
Hi Brian Vaughn,
Thank you very much for "react-error-boundary", I created pull request.

[2019-03-29 17:28] redbugz opened #30 "1.2.4 missing dist?"
I just had a build upgrade to 1.2.4, and it appears there is no dist directory, so the main in package.json fails to resolve.

Reverting back to 1.2.3 seems to fix the problem.

[2019-03-29 17:36] bvaughn commented on #30
Sorry. Bad release. 1.2.5 is fixed.

[2019-03-29 17:36] #30 closed

[2019-05-21 14:37] alexandernanberg opened #31 "Replace FallbackComponent with fallback"
I think it would be nice if the `<ErrorBoundary>` would have a similar API as `<Suspense>` (fallback instead of FallbackComponent). Don't know if this have been discussed before though.

[code]

I can create a PR if this is something you'd want to add. Can be a non-breaking change if we keep the `FallbackComponent` prop.

[2019-05-21 14:40] bvaughn commented on #31
The error boundary feature predates suspense. I'd be fine with that name if this was a new component we were designing, but I don't think it's worth deprecating a property (or adding a redundant secondary property) for. 😄

[2019-05-21 14:40] #31 closed

[2019-09-22 21:08] sadsa opened #33 "PNPM - Receiving a react error that prop-types could not be found"
When using the PNPM package manager, any dependecies not explicitly mentioned in the `package.json` will be ignored at time of package installation.

The following code (found in `ErrorBoundaryFallbackComponent.js`) make the following reference to the `prop-types` package.

[code]

React apps throw the error `Cannot find module: 'prop-types'. Make sure this package is installed.` because the packa

[2019-09-22 21:18] sadsa commented on #33
As mentioned above, if you don't want to include as a hard dependency, you can add it to `peerDependencies` to notify the user we expect that `prop-types` be provided by its dependent (i.e. the consumer)

[2019-10-25 16:44] kentcdodds opened #34 "As (and recommend) fallback prop"
Considering this is similar in spirit to Suspense, it would be nice if they share a similar more obvious API.

I really liked this code sample from Joe Savona's talk at react conf:

![IMG_20191025_094055](https://user-images.githubusercontent.com/1500684/67588853-f6deac80-f70b-11e9-938f-563f212cfcf5.jpg)

Thoughts?

[2019-11-12 15:10] cbfx commented on #34
i'm with @kentcdodds on this one. i suppose one of us should send a PR...

[2019-12-11 04:19] clehene opened #36 "Don't assume all errors are `Error`"
Getting this with MobX

[code]

Since you can throw any object, an error boundary shouldn't expect only `Error` instances.

[2019-12-31 10:36] bertho-zero commented on #23
This component is used exactly like react-error-boundary but with an additional `retry` props.

[code]

[2020-04-30 18:52] #24 closed

[2020-04-30 18:52] kentcdodds commented on #15
We're dropping support for the default fallback.

[2020-04-30 18:52] #15 closed

[2020-04-30 18:53] kentcdodds commented on #25
Closing all old issues as we're making significant changes. Please open a new issue if this is still a problem you'd like to have fixed.

[2020-04-30 18:53] #25 closed

[2020-04-30 18:54] kentcdodds commented on #26
We're implementing a new `fallbackRender` prop which will allow you to do whatever you'd like:

[code]

[2020-04-30 19:01] kentcdodds commented on #36
Closing all old issues as we're making significant changes. Please open a new issue if this is still a problem you'd like to have fixed.

[2020-04-30 19:01] #36 closed

[2020-04-30 19:07] #26 closed

[2020-04-30 19:07] #34 closed

[2020-04-30 20:20] kentcdodds commented on #26
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/bvaughn/react-error-boundary/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-30 20:20] kentcdodds commented on #15
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/bvaughn/react-error-boundary/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-30 20:20] kentcdodds commented on #34
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/bvaughn/react-error-boundary/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-30 20:28] kentcdodds commented on #33
Closing all old issues as we're making significant changes. Please open a new issue if this is still a problem you'd like to have fixed.

[2020-04-30 20:28] #33 closed

[2020-04-30 23:55] sergiodxa opened #48 "Difference between FallbackComponent, fallbackRender and fallback"
What is the exact difference between all of those props?

I think `fallback` could receive the `error` and `resetErrorBoundary` function as `fallbackRender`, and the same for `FallbackComponent`, is there a reason to use FallbackComponent` when `fallbackRender` does the same? Or use `fallbackRender` when I could inline the definition of `FallbackComponent` to reset the parent component state?

I'm

[2020-05-01 01:06] kentcdodds commented on #48
I documented these better just now. Let me know if there's still confusion.

[2020-05-01 01:06] #48 closed

[2020-05-01 11:06] JClackett opened #53 "Types not being included in the build"
Hello!

First, thanks for the new version @kentcdodds :)

Not sure if i'm meant to be doing anything differently but after installing the latest versions v2.x, the types are not being included. So the TS compiler + VSCode are not happy.

Does the index.d.ts not needed to be included in the files key in package.json?

I'm not 100% sure of these things as im new to TS, so don't know how to help too

[2020-05-01 12:45] #53 closed

[2020-05-01 12:57] kentcdodds commented on #53
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/bvaughn/react-error-boundary/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-22 15:14] memark opened #57 "_the simplest way_ example not compiling in typescript"
- `react-error-boundary` version: 2.2.2
- `node` version: 12.16.1
- `yarn` version: 1.22.4
- `typescript` version: 3.9.2

### What you did

Trying to compile _the simplest way_ example from Usage in docs with typescript.
https://github.com/bvaughn/react-error-boundary#usage

(Since the `onError` example has type annotations and type definitions are shipped, I'm assuming typescript is supported for

[2020-06-22 15:20] kentcdodds commented on #57
I don't use TypeScript so I'm not sure how to proceed here. A pull request to fix either the typings or the example would be welcome :)

[2020-06-22 15:37] memark commented on #57
I hear you. I can probably help out with updating the doc example.

Just to be clear, what language is the audience of the readme?
Just looking at it quickly, the first example is `js` and doesn't compile in `ts` (this issue).
The second example is `ts` (with type annotations) and therefore won't compile in `js`(?).

[2020-06-22 15:46] memark commented on #57
Sorry. Damn mouse.

[2020-06-22 15:58] kentcdodds commented on #57
It should be in JavaScript. TS folks can normally interpret that to TS easier than the other way around.

[2020-06-22 16:26] memark commented on #57
OK, then there is not much to do about this issue, since the example is already valid javascript. :/

I'll just post the updated code example here for future reference.

[code]

[2020-06-22 16:26] #57 closed

[2020-07-22 08:47] schabluk opened #61 "Cannot wrap FallbackComponent with styled components"
- `react-error-boundary` version: 2.3.0
- `node` version: 12.16.1
- `npm` version: 6.13.4

Relevant code or config

[code]

What you did: wrapped FallbackComponent in styled-components styled() method.

What happened:

[code]

[2020-07-22 14:14] kentcdodds commented on #61
Thanks for this. Could you make a reproduction in a codesandbox?

[2020-07-22 15:15] marcosvega91 commented on #61
I have created this example https://codesandbox.io/s/quiet-fast-g7747?file=/src/App.js

What do you think if we use `import {isValidElementType} from 'react-is'` instead of check if the `FallbackComponent` is a function?

[2020-07-22 15:30] kentcdodds commented on #61
That sounds good to me! Thanks @marcosvega91.

[2020-07-23 12:49] #61 closed

[2020-07-23 12:52] kentcdodds commented on #61
:tada: This issue has been resolved in version 2.3.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/bvaughn/react-error-boundary/releases/tag/v2.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-01 06:15] KevinBurton opened #63 "Types for ErrorBoundary?"
- `react-error-boundary` version: 2.3.1
- `node` version:14.4
- `npm` version: 6.4.7

Relevant code or config

[code]
What you did: Wrapped a section of JSX with the ErrorBoundary component

What happened:

Visual Studio Code complains with a red squiglly line that "no overload matches this call"

Problem description:

I am thinking that the reason that the JSX for ErrorBoundary is causing a warni

[2020-08-01 10:37] marcosvega91 commented on #63
Hi @KevinBurton thanks for opening this issue :).

Can you share the code of you error component? Can you also please add more info about the error?

[2020-08-01 17:58] KevinBurton commented on #63
I just have just Visual Studio Code. I think it is TypeScript lint giving me a warning. There are no runtime errors.

![image](https://user-images.githubusercontent.com/2643566/89107428-a57bf000-d3f6-11ea-8981-37a13773be07.png)

[2020-08-01 18:33] kentcdodds commented on #63
What is `errorFallback`? That should be a React component (function or class).

[2020-08-01 18:46] KevinBurton commented on #63
I took errorFallback from the examples:

[code]

[2020-08-01 20:56] marcosvega91 commented on #63
If you add type to your props will work

[code]

[2020-08-02 00:12] KevinBurton commented on #63
Thank you. That is what I was looking for.

[2020-08-02 00:12] #63 closed

[2020-09-10 13:48] bvaughn opened #66 "Update state with getDerivedStateFromError rather than componentDidCatch"
The `componentDidCatch` lifecycle method exists for side effects (e.g. logging). Using `componentDidCatch` to update state and re-render after an error is an anti-pattern and future versions of React will likely skip over error boundaries that don't define `getDerivedStateFromError`.

When ["error boundaries" were first introduced in v16.0](https://reactjs.org/blog/2017/07/26/error-handling-in-rea

[2020-09-10 14:03] kentcdodds commented on #66
Sweet. Thanks for letting me know. I'd welcome a pull request if you'd like, or I can do it later (today probably).

[2020-09-10 14:04] bvaughn commented on #66
Not sure if I'll get to it or not. Just wanted to make a note of it while it was on my mind. (Just updated an FB-internal error boundary to fix this same thing.)

[2020-09-10 23:37] kentcdodds commented on #66
:tada: This issue has been resolved in version 2.3.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/bvaughn/react-error-boundary/releases/tag/v2.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-11 17:07] #66 closed

[2020-09-11 17:10] kentcdodds commented on #66
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/bvaughn/react-error-boundary/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-01 13:29] TomPradat opened #71 "Forward error info to the FallbackComponent"
Is there any reason not to do this ?

I'd love to be able to get the componentStack info in the FallbackComponent (without any tricks)

[2020-10-01 13:30] TomPradat commented on #71
I'd be happy to work on a PR if you approve this :)

[2020-10-01 16:02] kentcdodds commented on #71
Hi @TomPradat,

Read here to learn why the componentStack is not included: https://github.com/bvaughn/react-error-boundary/issues/66

If you need the component stack: https://github.com/bvaughn/react-error-boundary/pull/68#issuecomment-695363049

[2020-10-19 11:54] 0xR opened #74 "Bug: onResetKeys only triggers reset after second render"
- `react-error-boundary` version: 3.0.2
- `node` version:14
- `npm` version:6.14

Relevant code or config
It seems to occur because of the `return` statement here:
https://github.com/bvaughn/react-error-boundary/blob/f0c22663c5fd8f9dd22907aa8953eb9dd0bcf7d8/src/index.js#L38-L41

What you did:
[code]

What happened:
I have to click the "no error" link twice before the error boundary resets.
This on

[2020-10-19 22:01] kentcdodds commented on #74
Hey @0xR,

Thanks for the demo and suggestion. I'm not 100% I agree that this is the right approach, but if you'd like to open a pull request that included any necessary changes to tests along with your suggested fix I'd consider merging it. Thanks!

[2020-10-21 19:41] jeysal commented on #74
Also ran into this. We're using `resetKeys={[pathname, query]}` (with I think makes more sense because it ignores hash changes), same problem. I've already made a repro before noticing there was already an issue for this, might as well throw that in here as well (it reproduces with `yarn && yarn test`): https://github.com/jeysal/error-boundary-resetkeys-repro
Note that `react-error-boundary@2` pas

[2020-10-29 07:00] sohagfaruquebd opened #75 "Production build"
In production build how i will log in which file/component i got the error?

[2020-10-29 21:02] kentcdodds commented on #75
Hi @sohagfaruquebd, I don't think this is possible. Sorry.

[2020-10-29 21:02] #75 closed

[2020-11-10 19:13] mrmckeb commented on #75
If you use a tool like Sentry.io (which is what we're using) it maps the sourcemaps against the stacktrace and can tell you exactly what happened.

[2020-12-02 17:45] xavierakram opened #77 "Build Error - Declaration or statement expected. TS1128"
Hi, I've ran into bugs whilst trying to create a production build of my application the error seems to be related with `TS1128` Declaration or Statement Expected.

[code]

"react-error-boundary": "^3.1.0",

This is executing via GitHub actions to app-engine, so I'd assume it's using the latest version of NPM / Node.

[2020-12-02 19:05] kentcdodds commented on #77
Sorry @xavierakram, but I'm not sure what that could be. TypeScript *generated* that file, so there must be some weird config issue with your version of TypeScript *reading* a file that TypeScript *generated* 🤷‍♂️

[2020-12-03 11:05] xavierakram commented on #77
@kentcdodds thanks for responding, I've got the following tsconfig file which seems to be rather standard, but I only seem to get an error with React-Error-Boundary.

`{
  "compilerOptions": {
    "strict": true,
    "baseUrl": "./src",
    "esModuleInterop": true,
    "lib": ["dom", "es2015"],
    "jsx": "react",
    "target": "es5",
    "allowJs": true,
    "skipLibCheck": true,
    "allowSynthe

[2020-12-03 11:33] xavierakram commented on #77
For anyone else experiencing the same issue I realised that[ type-only imports and exports](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-exports) were introduced in Typescript 3.8, upgrading typescript on the project resolved this issue.

[2020-12-03 11:33] #77 closed

[2020-12-03 15:02] maurocarrero opened #79 "Re-render ErrorFallback from onError handler output"
- `react-error-boundary` version: 3.0.2
- `node` version: 12.19.0
- `npm` version: 6.14.8

This is not a failure but instead a question about a possible use case.

[code]

1. I have a set an ErrorBoundary at the root of the application.
2. Once the boundary catches the error, I will render the fallback and trigger onError to log information to the server.
3. In **onError** handler among the error

[2020-12-03 18:01] marcosvega91 commented on #79
Hi @maurocarrero thanks for reaching us 😄 .

A possible not really clean way is to do as below, using two `ErrorBoundary`

[code]

[2020-12-03 18:39] maurocarrero commented on #79
Hi @marcosvega91, useful and clean.
Thank you.

[2020-12-03 21:07] marcosvega91 commented on #79
Happy that is working for you ☺️. I'll close the issue for now. If someone else needs this feature in the feature we'll evaluate it. Thanks a lot 👍😉

[2020-12-03 21:08] #79 closed

[2020-12-11 13:20] ddennis commented on #77
@xavierakram had the same error with typescript 3.7.1 - updated typescript to 4.1.2 and everything worked

[2021-01-28 16:43] eran-or opened #82 "typescript error : Parameter 'props' implicitly has an 'any' type."
src/base/error-boundary/ErrorBoundary.tsx(4,15):
Parameter 'props' implicitly has an 'any' type.  TS7006

    2 |
    3 | class ErrorBoundary extends React.Component {

      |               ^
    5 |     super(props);
    6 |     this.state = { hasError: false };
    7 |   }

this is my code const container = document.getElementById('root')

function ErrorFallback({error, resetErrorBoundary}: Fal

[2021-02-15 14:45] viclafouch opened #83 "No only Error for FallbackProps"
I'm using React-query, and we can type our error. But there is a conflit with react-error-boundary since the type is not an Error type, but a custom. How can we deal with that ?

![image](https://user-images.githubusercontent.com/23353836/107959820-28842280-6fa4-11eb-9fd4-b1bc8978ba2a.png)

- `react-error-boundary` version: 3.1.0
- `node` version: 12.19.1
- `npm` version: 6.14.10

Relevant code or

[2021-02-24 21:45] CarlosGines opened #84 "First `resetKeys` update ignored when error triggered on mount"
- `react-error-boundary` version: 3.1.0
- `node` version: 12.16.1
- `yarn` version: 1.22.5

#### What you did:

I use `ErrorBoundary` with `resetKeys`, with the error being triggered on `ErrorBoundary`mount. Then I trigger a reset via `resetKeys`

#### What happened:

The `ErrorBoundary` error state is not reset until the second `resetKeys` update.

#### Reproduction repository:

https://codesandb

[2021-02-25 00:09] CarlosGines commented on #84
Silly me, I just realised this is a duplicate from #74. 🤦
I suggest a different solution though, happy to attempt a PR if you see it fit.

[2021-03-02 17:14] #74 closed

[2021-03-02 17:14] #84 closed

[2021-03-02 17:16] kentcdodds commented on #83
That suggested solution sounds fine to me 👍

[2021-03-25 05:06] nghiepit opened #86 "How to reset error on mount component?"
Hi,

- `react-error-boundary` version: 3.1.1
- `node` version: 14

**What you did:**
I'm using `react-error-boundary` with `suspense` mode.
I don't know how to reset error on mount?

**What happened:**
- **Page_1**: Implement ErrorBoundary and Susspense => throw error => `<FallbackComponent />`
- Go to **Page_2**: The **Page_1** will be unmount.
- Back again to **Page_1**: The **Page_1** will be m

[2021-04-08 03:01] #86 closed

[2021-04-21 08:19] thdk opened #87 "Dependency on @babel/runtime"
Small question, why does `react-error-boundary` has a dependency on ´@babel/runtime`?

[2021-04-21 13:16] kentcdodds commented on #87
Hi @thdk,

You can see what is used in the built output: https://unpkg.com/browse/react-error-boundary@3.1.1/dist/react-error-boundary.esm.js

Pretty much every practical react application will use babel runtime through dependencies at least because it's a good way to share the common dependencies.

[2021-04-21 13:16] #87 closed

[2021-04-29 08:01] tommarien commented on #83
What is the need for it to be an error ? and not `unknown` like in node?

[code]

[2021-05-01 01:00] tgmarinho opened #88 "Show some Fallback component"
Hi, thanks for this lib ;)

Is there a way to show the fallback component replacing the component that throws the error?

I don't want to put `<ErrorBoundary><Products /> <ErrorBoundary>, <ErrorBoundary><People /> <ErrorBoundary>, <ErrorBoundary><User /> <ErrorBoundary> ` inside of each component that expects data from API.

I just want to put <ErrorBoundary><App /> <ErrorBoundary>  and then it wi

[2021-05-01 19:51] kentcdodds commented on #88
Hi @tgmarinho, I don't think that's possible, and even if it were, I think it'd better to be more explicit anyway.

[2021-05-01 19:51] #88 closed

[2021-05-04 08:14] tommarien commented on #83
Is it ok if i try to change the error type to unknown in a pull request, in the next coming days? Something in the order of this

[code]
Would you guys accept a pull containing this change ?

[2021-05-04 18:20] kentcdodds commented on #83
I'm not sure why the `useCallback` is necessary... And this would break the `useErrorHandler(error)` API. Why couldn't the change just be:

[code]

[2021-05-04 18:22] kentcdodds commented on #83
In fact, I think it could be further simplified to this:

[code]

The return type can be inferred without any trouble.

[2021-05-05 06:50] tommarien commented on #83
Should try to explain why i did things ;)

1. Explicit return type, as it is a boundary method i included this change (which could be seen as a contract breach, but the end result is the same only closed
[code]

2. Removed duplication between given error and state error, moved the givenerror (i presumed its something like initialError)

[code]
ends up in:
[code]

3. The callback/ `?? null` shenani

[2021-05-05 15:03] kentcdodds commented on #83
I guess that's ok

That's not duplication. The suggested change would actually change the behavior. The `givenError` could be changed by the calling code and we want to capture that.

I guess that makes sense too.

With that, here's a good implementation:

[code]

[2021-05-05 15:04] kentcdodds commented on #83
And I would consider this a bug fix

[2021-05-05 15:20] tommarien commented on #83
@kentcdodds thanks for the assist and discussion ;)

[2021-05-05 23:18] #83 closed

[2021-05-07 07:59] tommarien commented on #82
@eran-or can you give a code sandbox demonstrating the issue ?

[2021-05-12 08:02] tommarien commented on #36
@clehene can you try with version > 3.1.3  ;)

[2021-05-12 08:03] tommarien commented on #25
@OliverJAsh This should have been fixed in version  >= 3.1.3

[2021-05-27 22:21] LuisValgoi opened #91 "Not Working with Childrens"
I may be using it wrong, but here it goes.

- `react-error-boundary` version: ^3.1.3
- `node` version: v14.17.0
- `npm` version: 7.14.0

Relevant code or config

![image](https://user-images.githubusercontent.com/8363610/119904185-515f7080-bf20-11eb-9232-f2afd73b9642.png)

What you did:

- Created a `<Page />`.
- Inside this `<Page />`, wrapped its `childrens` with `react-error-boundary`.
- Create

[2021-06-07 08:05] sourabhgrover opened #92 "Remove ErrorBoundary on path change"
- `react-error-boundary` version: 3.1.3
- `node` version: 12.16.2
- `npm` version: 6.14.4

Relevant code or config

[code]

What you did:
I have bind ErrorBoundary in Route render in PrivateRoute function as I want my all PrivateRouteComponents to be covered with ErrorBoundary

What happened:
It's working fine when any error comes, FallbackComponent gets render, but now when I change the path/rout

[2021-06-08 00:36] Xadoy commented on #92
I think you could put a `key={path}` prop in the `ErrorBoundary` component

[2021-06-10 19:42] Maximilianos commented on #91
Hey @LuisValgoi, I am not one of the maintainers - but just thought I'd chime in.

I might be wrong, but one issue I can see with the code you provided is that you are throwing the error **inside a click event handler**. [This is not catchable automatically by react error boundaries unfortunately](https://reactjs.org/docs/error-boundaries.html#introducing-error-boundaries). To handle such a case y

[2021-06-25 07:23] dedoyle commented on #91
ErrorBoundry not work even if I have used useErrorHandler.

[code sandbox](https://codesandbox.io/s/react-error-handler-gzvkv?file=/src/App.js)

[code]

[2021-07-09 14:44] Xxxdxs commented on #91
It doesn't work in development environment, in fact, it works. you can close the error overlay in the right corner.

[2021-08-17 14:56] jhonabreul opened #94 "Keep rendering children on error"
As always, thank you for this module!

I was wondering if there is a way to catch errors but keep rendering the childrens. For instance, I would like to catch errors and show a toast alert over the content, but keeping it instead of replacing it with the fallback component. Is this possible?

Thanks!

[2021-08-17 15:08] kentcdodds commented on #94
Hi @jhonabreul,

This may be possible (if you can somehow keep track of the DOM and replace the children DOM with the previous version of the DOM that worked), but this would be riddled with bugs I'm sure and pretty hacky.

Sorry, I don't think this would be practical.

[2021-08-17 15:08] #94 closed

[2021-09-29 15:33] faizanbuggy opened #96 "How to get error's screen name"
Hi All,
Is there a way to get the name of the screen on which an error has occurred?
I am only getting the error.

[2021-09-29 18:03] kentcdodds commented on #96
If you can create an https://kcd.im/repro then I can help you during my https://kcd.im/office-hours

[2021-09-29 18:09] faizanbuggy commented on #96
Sure, I will let you know after creating

[2021-10-23 08:47] RyanNerd opened #97 "ErrorFallback rendered for a brief moment then the default dev error page displays"
- `react-error-boundary` version: 3.1.3
- `node` version: 14.17.0
- `npm` version: 7.15.1

Relevant code or config

[code]

What you did:
Used the code from the blog and README.md to display an `ErrorFallback` render instead of the default dev page error vomit.

What happened:
The `ErrorFallback` component is rendered for a brief moment, but then the default dev page is displayed (see screen shot)

[2021-10-23 08:51] #97 closed, assigned to nobody

[2021-11-26 07:08] YouWillBe commented on #91
I also confirmed that it is not working
![image](https://user-images.githubusercontent.com/16474244/143540845-cde199e8-1ff0-4525-b3a8-4c578df10221.png)

[2021-11-29 16:17] Jakkc opened #99 "Update docs to explicitly mention that react error overlay renders in dev mode"
Hey,

Would be really helpful if you could update the docs to explicitly state that when in dev mode React ends up rendering the error overlay screen. Very confusing and ended up tripping me up for a good hour before I read the final paragraph of [this article](https://kentcdodds.com/blog/use-react-error-boundary-to-handle-errors-in-react)

Thanks!

[2021-11-29 19:53] kentcdodds commented on #99
That has nothing to do with react-error-boundary or React. That's a feature of Create React App. Feel free to make a PR to add a note about it in the README if you'd like though.

[2021-11-29 19:53] #99 closed

[2021-12-05 19:35] simplenotezy opened #100 "Usage with next.js?"
How can I integrate with Next.js? I tried testing locally by triggering an error, but Next.js own error handler takes precedence.

[2021-12-09 06:31] LukasGerm opened #101 "Errors do not get catched"
- `react-error-boundary` version: 3.1.4
- `node` version: codesandbox
- `npm` version: codesandbox

Relevant code or config

[code]

What you did:
I was trying out the library but I cant understand why the previous error does not get catched. Am I missing something?
What happened:
Error gets thrown normally and I get the normal dev error screen.
![image](https://user-images.githubusercontent.com/2

[2021-12-13 17:31] tommarien commented on #101
As stated in the overlay this is only visible in a development build and powered by react-error-overlay provided in create react app. Hide the overlay and you will see underlying error using error boundary 😉

[2021-12-13 19:12] DimoDimchev opened #102 "FallbackComponent not rendering"
Relevant code:
[code]

When I click on the button that triggers an error the FallbackComponent doesn't render, even though the error gets logged(onError recognises it). Am I missing something?

[2021-12-27 15:50] JonhnyDev commented on #102
Here neither working, neither onError nor FallbackComponent

`import '../styles/globals.css'
import '../styles/FullCalendar/common/main.css'
import '../styles/FullCalendar/daygrid/main.css'
import React from 'react';
import { Provider } from "react-redux"
import { PersistGate } from 'redux-persist/integration/react'
import { createWrapper } from "next-redux-wrapper"
import { store, persistor } fro

[2021-12-30 13:47] evgeny-s opened #103 "React Router stopped working after Error Boundary and history.push doesn't work. How can it be fixed?"
- `react-error-boundary` version: 3.1.3
- `node` version: 14.17.1
- `npm` version: 6.14.13

Relevant code or config

[code]

What you did:
Added new Exception to test Error Boundary
What happened:
App crashed, I can see my FallbackComponent

Reproduction repository:

Problem description:
history.push doesn't work from within ErrorBoundary component
Suggested solution:

[2022-01-04 08:29] raDiesle commented on #102
In my understanding, the Fallback component is only rendered in production mode, not development. Is this correct?
If yes, it would be nice to temporary overcome this for testing purposes or/and document it more visible

[2022-01-17 20:00] jdcoder27 commented on #102
error boundary doesn't catch error in event handler, if you want catch error in event handler try to use useErrorHandler hook.
https://reactjs.org/docs/error-boundaries.html#introducing-error-boundaries

[2022-01-22 19:58] akinyele commented on #101
For anyone still facing this issue.

Since this is a wrapper around react Error Boundaries, the error shown above wont be cause seeing as its an Event Handler error. Only render errors will be caught. More can be read [here](https://reactjs.org/docs/error-boundaries.html#how-about-event-handlers).

[2022-02-21 09:07] Leecason opened #104 "Should I use Error Boundary to wrap components as much as possible?"
Problem description: Will this cause performance problems?

[2022-02-21 14:42] kentcdodds commented on #104
Think of this as a try catch in your regular code. It won't cause performance issues for you, but it would be nonsensical to put it around everything. Good luck!

[2022-02-21 14:42] #104 closed

[2022-02-21 18:30] LongLiveCHIEF commented on #103
What version of react-router are you using?

[2022-02-24 20:28] akinsibay opened #105 "How can i use componentStack in FallbackComponent?"
Problem description:
I need to use componentStack in FallbackComponent but i see that the FallbackComponent only takes error and resetErrorBoundary parameters. That's why I can't access the componentStack information. How can I do it?

[2022-03-18 11:28] aerlaut opened #106 "Allow rendering of children components"
- `react-error-boundary` version: 3.1.4
- `node` version: 14.18.1
- `npm` version: 6.14.15

Relevant code or config

[code]

Problem description:

I want to continue showing the children components after the error has been caught, so ErrorBoundary acts like a transparent container.

Suggested solution:

Allow rendering of child components inside fallback components by passing `children` in `props`

[2022-03-19 07:56] aerlaut commented on #100
Import the library inside `_app.jsx` and then wrap your entire application around it

    import {ErrorBoundary} from 'react-error-boundary'

    function MyApp({ Component, pageProps }) {
        return (
            <ErrorBoundary FallbackComponent={<SomeErrorPage />} onError={ ... }>
                <Component {...pageProps} />
            </Error>
        )
    }

[2022-03-19 08:03] aerlaut commented on #105
Unfortunately, the current implementation does not store `errorInfo` into the state, so it can not be accessed by the renders.

[2022-03-29 19:34] srsajjad commented on #106
This would be helpful to show some kind of modal / popup

[2022-03-30 20:27] zbyte64 commented on #106
I'm afraid that alone wouldn't be enough. You can't show the child components because their new state can't be rendered, you would need to pass in child components from a time prior to the error.

[2022-04-11 21:38] hongrich opened #108 "UMD version can be inadvertently tree-shaken out because `sideEffects` is set to false"
**What you did:**

Attempt to bundle react-error-boundary using Rollup.js with `nodeResolve({browser: true})`.

**What happened:**

The UMD version of react-error-boundary is used and its content are completely gone in the bundled version.

**Reproduction repository:**

https://replit.com/@hongrich/react-error-boundary

**Problem description:**

react-error-boundary includes a UMD version as the `

[2022-04-15 14:46] rafalradomski opened #111 "'ErrorBoundary' cannot be used as a JSX component"
Hi guys, I get a strange typescript error when I use the default first example from your lib:

**'ErrorBoundary' cannot be used as a JSX component**, any chance you had seen that before?

<img width="647" alt="Screenshot 2022-04-15 at 15 41 08" src="https://user-images.githubusercontent.com/8066536/163584676-5d70f0ad-7385-416a-8cbe-043af6aead7c.png">

- `react-error-boundary` version: 3.1.4
- `nod

[2022-04-15 14:58] chriszrc commented on #102
@raDiesle fallback works just fine in development mode. @JaedeokK is right. In my case, I was `catch`-ing errors from fetch, so they never bubbled up-

[2022-04-17 16:02] kaspnilsson commented on #111
Also getting this in my project, it appears to have something to do with the version of react I have in my project being different than what's expected.

Key code lines:

[code]

Error:
'ReactErrorBoundary' cannot be used as a JSX component.
  Its instance type 'ErrorBoundary' is not a valid JSX element.
    The types returned by 'render()' are incompatible between these types.
      Type 'React.R

[2022-04-18 23:24] cmdcolin commented on #111
probably related to changes in @types/react v18

[2022-04-18 23:28] cmdcolin commented on #111
I added
[code]

to my package.json to pin to @types/react v17 for now

[2022-04-20 11:20] piotrpodyma10 opened #112 "Error + Children"
Hi,

I checked your package and I see that I can display children or error. Is it possible to display Children + Error at the same time (for example Modal)?

Best

[2022-04-23 14:00] bvaughn commented on #112
Not with this component. Children are rendered by default. If children throw an error, this component catches it and renders some sort of fallback as determined by its props:
https://github.com/bvaughn/react-error-boundary/blob/a0a370c7fe145e5cf169063eb4b7ff1a059fd84c/src/index.tsx#L115-L140

I don't think it makes sense to re-render children if they have already thrown. (They would likely just th

[2022-04-23 14:00] #112 closed

[2022-04-28 09:31] mantey-github commented on #111
Also facing this same issue

[2022-05-03 07:41] edouardmisset commented on #111
I also have the same issue.

[code]

package.json
[code]

[2022-05-10 21:06] andreribeiro27 commented on #111
Same issue

[2022-05-10 23:41] fabioebt commented on #111
Same here

[2022-05-11 05:24] AndyJPG commented on #111
Having the same issue as well

[2022-05-13 07:26] Hendry5479 commented on #111
Need to upgrade the version of  @types/react

[2022-06-08 02:06] tomtang1122 commented on #111
I also have the same issue.

[2022-06-14 13:52] nardocesar commented on #111
Same here

[2022-06-18 10:24] sam-frampton commented on #111
same here

[2022-06-20 15:44] othierry-asi opened #113 "'ErrorBoundary' cannot be used as a JSX component error with vite.js builder"
I have a problem with `react-error-boundary` error when migrating from CRA to vite.js (2.9.12).

- `react-error-boundary` version: 3.1.4
- `node` version: 14.9.3
- `npm` version: 6.14.7

I use ErrorBoundary this way in my app :

[code]

When I run `yarn run build` I have the following error :

[code]

It used to work very well with CRA.

Any idea what happens ?

[2022-06-22 06:04] gtroupisiag commented on #113
https://github.com/bvaughn/react-error-boundary/issues/111#issuecomment-1125544782
This other issue that is open says to upgrade `@react/types` to version 18

[2022-06-22 07:08] othierry-asi commented on #113
Oh sorry, I can't understand how I could not see it ! I close this one.

[2022-06-22 07:08] #113 closed

[2022-06-23 23:33] bnheise commented on #111
Same issue

[2022-07-09 01:58] zlargon commented on #111
This issue is caused by the breaking change from [@types/react](https://www.npmjs.com/package/@types/react) v18.

Use command `npm ls @types/react` to see if you have any `@types/react@18.x` in your dependencies.

You can upgrade react v18, or update `@types/react@17.x` version in your lock file.

Checkout the solution from these comments:
- https://github.com/facebook/react/issues/24304#issuecomm

[2022-07-28 09:30] GideonMax commented on #102
@JonhnyDev Can you provide the code for the child component that's throwing the error that doesn't get caught by the error boundary?

[2022-08-05 08:50] blockmood commented on #111
Same here

[2022-08-05 14:49] kopax-polyconseil opened #114 "browser field for package.json serv umd to webpack instead of module esm"
- `react-error-boundary` version: 3.1.4
- `node` version: 16
- `yarn` version: 3.1.4

## What you did:

I did build my web application

## What happened:

![image](https://user-images.githubusercontent.com/77674046/183102056-638cc221-cdbb-415e-9683-24e156365e7a.png)

umd was bundled

I have tried to edit your `package.json` in our `node_modules` using `patch-package`:

[code]

It didn't work so I

[2022-08-10 01:36] sumedhdev opened #115 "Bug: truthy check in useErrorHandler"
- `react-error-boundary` version: 3.1.4
- `node` version: 16.16.0
- `npm` version: 8.11.0

Relevant code or config

[code]

What you did:
(see above)

What happened:
(see above)

Problem description: check in useErrorHandler contradicts the line in the readme that states "if the error is ever set to a **truthy** value, then it will be propagated to the nearest error boundary."

Suggested solution:

[2022-08-12 22:13] arturohernandez10 opened #116 "Fallback component not shown"
- `react-error-boundary` version: 3.1.4
- `node` version: stackblitz
- `npm` version: stackblitz

Relevant code or config

[code]

Problem description:

The error boundary does not show up here is a [stackblitz](https://stackblitz.com/edit/react-16-error-boundary-wrapper-6gwzq3?file=index.js,package.json) link

[2022-08-18 07:41] austingayler commented on #116
I'm not sure if something changed, but react error boundaries don't work for event handlers: https://reactjs.org/docs/error-boundaries.html#introducing-error-boundaries . So this library still works, but the documentation shows an example that isn't supported by the underlying API...

To confirm:
[code]

[2022-08-18 09:48] NotoriousPyro commented on #106
If the error is being caused by the child component you're trying to render, and you try to render it even though it errored, you'll end up in an infinite loop. I know because I tried it, it caused a loop, and realised what I was doing was not going to work well.

[2022-09-13 10:03] obasille opened #117 "ErrorHandler from useErrorHandler() triggers crash when called in component rendering ErrorBoundary"
- `react-error-boundary` version: 3.1.4

Relevant code or config

[code]

What you did:
Calling `handleError()` from the same component that is rendering `ErrorBoundary`.
1. Calling `handleError()` from `SomeComponent` works
2. Calling `handleError()` from `App` triggers a crash

What happened:
The call seems to throw an exception that is not caught by ErrorBoundary and the app crashes.

[2022-09-13 14:00] ChamsBouzaiene commented on #117
this happened because in the second case you are throwing the error outside of the error boundary, the error is originating in this hook `  const handleError = useErrorHandler();`  which is not a child of the boundary so it doesn't get caught

[2022-09-13 15:41] obasille commented on #117
A workaround would be to store the error in a react state and be able to pass it to the `ErrorBoundary` component.

[2022-09-15 15:00] arturohernandez10 commented on #116
Just to verify if this could be a React issue, I used the modified the codepen in their documentation replacing `BuggyCounter` with the code below. And in this case the boundary does work as expected.

[code]

Since the codepen cannot be easily forked.

[2022-09-20 13:07] chukwuma-azubuike opened #118 "FallbackComponent not working for imported function component"
- `react-error-boundary` version:
- `node` version: v16.14.0
- `npm` version: 8.3.1

Relevant code or config

[code]

What you did:
I duplicated the very same error fallback ui within the main app component file and it worked.

What happened:
I want to have my fallback UI component in a separate file, but when I import it to be called by the FallbackComponent, it doesn't  work.

Reproduction repos

[2022-09-21 04:27] azadorolabs opened #119 "onError callback called multiple times"
- `react-error-boundary` version: 3.1.4
- `node` version: v16.13.2
- `npm` version: 8.1.2
- `react` version: 17.0.2

Relevant code or config

[code]
What you did:
Logging error to server using onError callback

What happened:
I am trying to send error caught by ErrorBoundry to server but onError callback called multiple times due to this multiple api calls in network.

[2022-09-21 05:01] azadorolabs commented on #119
@bvaughn could you please take look into this and let me know if i missed something hear

[2022-09-29 23:40] floatrx commented on #111
👋 **Very simple solution:**  this `return this.props.children` replace with `return <>{this.props.children}</>`

[2022-09-29 23:41] floatrx commented on #113
👋 **Very simple solution:**  this `return this.props.children` replace with `return <>{this.props.children}</>`

[2022-10-03 14:18] stevenhansel commented on #100
@aerlaut Is there any performance impact when wrapping your entire application with `<ErrorBoundary />`?

[2022-10-13 15:44] lucksp commented on #111
Nevermind...the `tsc` type check still fails.

[2022-10-26 09:58] aquibbaig commented on #119
can you try wrapping `errorHandler` in a useCallback to make React use the same function instance across re-renders?

Else you can actually debug this by checking if your component is actually rendering multiple times:
[code]

[2022-11-04 02:05] dhatGuy commented on #116
I don't know if this has something to do with React 18. Rendering the root component with `ReactDOM.render(<App />, document.getElementById('root'))`, fallback component is shown.

[2022-11-09 11:48] stimw opened #121 "Is this repository no longer maintained?"
Or just no need to update anything?

[2022-11-11 22:14] thisisclint21 opened #122 "Handle `AxiosError`"
Hi,

How to manage `AxiosError`, I got an UI error.

Regards

[2022-11-18 21:33] machineghost commented on #100
I'm not a React engineer, but I'd imagine it's comparable to the impact of wrapping your entire app in a `try`/`catch` (which is to say, negligible).